@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  padding: 5rem 0;
  position: relative;
  min-height: 70rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: v.$black;
    opacity: 0.6;
  }
}

//Header de cada página
.header--index {
  background-image: url("../img/header_inicio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  @include m.xl-desktop {
    background-size: cover;
  }
}
.header--about {
  @extend .header--index;
  background-image: url("../img/header_nosotros.jpg");
}
.header--process {
  @extend .header--index;
  background-image: url("../img/header_proceso.jpg");
}
.header--menu {
  @extend .header--index;
  background-image: url("../img/header_menu.jpg");
}
.header--gallery {
  @extend .header--index;
  background-image: url("../img/header_galeria.jpg");
}

.header__content {
  position: relative;

  .header__text {
    color: v.$white;
    text-align: center;
    text-transform: uppercase;
    @include m.tablet {
      margin-top: 10rem;
    }
  }
}
