// Fuentes
$principal_font: "Poppins", sans-serif;

// Tamaño de Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large_desktop: 2048px;

// Colores
$primary: #84d9bc;
$secundary: #313c4e;
$secundary_opacity: rgb(57 70 89 / 0.7);
$black: #000;
$white: #ffffff;
