@use "variables" as v;

h1,
h2,
h3 {
  font-family: v.$principalFont;
  margin: 0 0 v.$separation 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3.2rem;
}

.tittle {
  color: v.$primary;

  &::after {
    content: "";
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    background-image: url(../img/cafe.svg);
    background-size: 10rem;
  }
}
.tittle__span {
  color: v.$secundary;
  font-size: 1.8rem;
  display: block;
}
.tittle--white {
  @extend .tittle;

  color: v.$white;

  &::after {
    display: none;
  }
}
.tittle__span--white {
  @extend .tittle__span;

  color: v.$white;
}
