@use 'base/variables' as v;
@use 'base/mixins' as m;

.main__icons {
    margin-top: v.$separation;
}

.iconsList {
    @include m.tablet {
        display: flex;
        justify-content: space-around;
    }
}
.iconsList__icon {
    width: 12rem;
    margin: 0 auto;
}
.iconsList__text {
    font-family: v.$cursiveFont;
    font-size: 3.2rem;
    color: v.$primary;
}